.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.header__logo img {
  display: inline-block;
  width: 150px;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
}

.header__menu-item a {
  color: white;
  font-weight: 500;
  opacity: 0.3;
  transition: 0.25s;
}

.header__menu-item a:hover {
  color: var(--primary-color);
  opacity: 1;
}